{% extends 'base.html.twig' %}

{% block title %}cliente Dashboard{% endblock %}

{% block body %}
 
    <div class="col-lg-8 align-center">
      <h1>Lista de Peticiones Sin Atender</h1>
      
      {% if listPeticiones and listPeticiones|length >0%}
        <table class="table table-striped table-hover">
           <thead>
             <tr>
              <th>ID</th>
              <th>DESCRIPCION</th>
              <th>DUDAS</th>
              
              <th>ESTADO</th>
              <th>TIPO</th>
              <th>ClIENTE</th>
          >
              <th>OPCIONES</th>
            </tr>
           </thead>
           <tbody>
             {% for peticion in listPeticiones %} 
                <tr scope = "row">
                  <td>{{peticion.id}}</td>
                 <td>{{peticion.descripcion}}</td>
                  <td>{{peticion.dudas}}</td>
                  <td>{{peticion.estado}}</td>
                  <td>{{peticion.tipo}}</td>
                  <td>{{peticion.cliente_nombres}} {{peticion.cliente_apellidos}}</td>
                
                  
                  <td>
                       <a href="{{path('app_asesor_dashboard_aceptar',{'id': peticion.id})}}">Aceptar</a>
                       <a href="{{path('app_asesor_dashboard_rechazar',{'id': peticion.id})}}">Negar</a>
                  </td>
                </tr>
             {% endfor %}   
           </tbody>
        </table>
       {% else %}
         <p style="color:red"><strong>No existen peticions registradas</strong></p>
       {% endif %}
    </div>  
{% endblock %}