{% extends 'base.html.twig' %}

{% block title %}Atender Inmueble¡Asesor{% endblock %}

{% block body %}
<div class="p-5 text-center bg-light">
      <h1 class="my-3">Editando Inmueble</h1>
      {{form_start(formulario)}}
        <div class="row">
          <div class="col-md-12 my-2">
               {{form_label(formulario.descripcion,'Descripcion*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.descripcion) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.descripcion)}}
                </div>
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.ubicacion,'Ubicacion*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.ubicacion) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.ubicacion)}}
                </div>
               
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.precio,'Precio*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.precio) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.precio)}}
                </div>
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.estado,'Estado*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.estado) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.estado)}}
                </div>
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.asesor_id,'Asesor asignado*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.asesor_id) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.asesor_id)}}
                </div>
          </div>
          <div class="col-md-12 my-2">
               {{form_label(formulario.tipo,'Tipo*',{attr:{'text-align':'center'}})}}
               {{ form_errors(formulario.tipo) }}
               <div class="mx-auto" style="width: 600px;">
               {{form_widget(formulario.tipo)}}
                </div>
          </div>
          
          
          <div class="row col-md-12 my-2">
                   <div class="col-md-6 ">
                  {{form_widget(formulario.save,{attr:{'class':'btn btn-success btn-block'}})}}
                   </div>
                  <div class="col-md-6">
                  <a href="javascript:history.back() " class= "btn btn-danger btn-block">Cancelar</a>
                  </div>   
          </div>
          
          
        </div>
            {{ form_end(formulario) }}
      
</div>
{% endblock %}