{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
 
    <div class="col-lg-8 align-center">
      <h1>Lista de Inmuebles</h1>
      <div class="row col-md-12 my-2">
                   <div class="col-md-4">
                  <a href="{{path('app_admin_dashboard_edificios')}}" class= "btn btn-primary btn-block">Filtrar por Edificios</a>
                  </div> 
                  <div class="col-md-4">
                  <a href="{{path('app_admin_dashboard_casas')}}" class= "btn btn-primary btn-block">Filtrar por Casas</a>
                  </div>
                  <div class="col-md-4">
                  <a href="{{path('app_admin_dashboard_departamento')}}" class= "btn btn-primary btn-block">Filtrar por Departamentos</a>
                  </div>    
          </div>
      {% if listInmuebles and listInmuebles|length >0%}
        <table class="table table-striped table-hover">
           <thead>
             <tr>
              <th>ID</th>
              <th>DESCRIPCION</th>
              <th>UBICACION</th>
              <th>PRECIO</th>
              <th>ESTADO</th>
              <th>TIPO</th>
              <th>ASESOR</th>
              <th>CLIENTE</th>
              <th>OPCIONES</th>
            </tr>
           </thead>
           <tbody>
             {% for inmueble in listInmuebles %} 
                <tr scope = "row">
                  <td>{{inmueble.id}}</td>
                 <td>{{inmueble.descripcion}}</td>
                  <td>{{inmueble.ubicacion}}</td>
                  <td>{{inmueble.precio}}</td>
                  <td>{{inmueble.estado}}</td>
                  <td>{{inmueble.tipo}}</td>
                  <td>{{inmueble.asesor_nombres}} {{inmueble.asesor_apellidos}}</td>
                  <td>{{inmueble.cliente_nombres}} {{inmueble.cliente_apellidos}}</td>
                  
                  <td>
                       <a href="{{path('app_admin_dashboard_edit',{'id': inmueble.id})}}">Editar</a>
                       <a href="{{path('app_admin_dashboard_delete',{'id': inmueble.id})}}">Eliminar</a>
                  </td>
                </tr>
             {% endfor %}   
           </tbody>
        </table>
       {% else %}
         <p style="color:red"><strong>No existen inmuebles registradas</strong></p>
       {% endif %}
    </div>  
{% endblock %}