{% extends 'base.html.twig' %}

{% block title %}Cliente Dashboard{% endblock %}

{% block body %}
 
    <div class="col-lg-8 align-center">
      <h1>Lista de Inmuebles Disponibles</h1>
      
      {% if listInmuebles and listInmuebles|length >0%}
        <table class="table table-striped table-hover">
           <thead>
             <tr>
              <th>ID</th>
              <th>DESCRIPCION</th>
              <th>UBICACION</th>
              <th>PRECIO</th>
              <th>ESTADO</th>
              <th>TIPO</th>
          >
              <th>OPCIONES</th>
            </tr>
           </thead>
           <tbody>
             {% for inmueble in listInmuebles %} 
                <tr scope = "row">
                  <td>{{inmueble.id}}</td>
                 <td>{{inmueble.descripcion}}</td><td>{{inmueble.ubicacion}}</td>
                  <td>{{inmueble.precio}}</td><td>{{inmueble.estado}}</td>
                  <td>{{inmueble.tipo}}</td>
                
                  
                  <td>
                       <a href="{{path('app_cliente_dashboard_register',{'id': inmueble.id})}}">Solicitar</a>
                  </td>
                </tr>
             {% endfor %}   
           </tbody>
        </table>
       {% else %}
         <p style="color:red"><strong>No existen inmuebles registradas</strong></p>
       {% endif %}
    </div>  
{% endblock %}
